.homepage{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: white;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.splash-top{
    background-image: image-url("discord_splash.png");
    object-fit: contain;
    height: 625px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: orange; // temporary
}