@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.homepage{
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-around;
    z-index: 2;
    background-color: #404EED;
}

.logo{
    margin-top: 10px;
    width: 200px;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-image{
    min-width: 100vw;
}

.splash1-text{
    position: absolute;
    margin-bottom: 40px;
    width: 45vw;
    text-align: center;
}

.splash2-text{
    position: absolute;
    right: 5px;
    width: 20%;
    margin-top: 150px;
    margin-right: 300px;
}

.splash3-text{
    position: absolute;
    left: 5px;
    width: 20%;
    margin-top: 150px;
    margin-left: 300px;
}

.splash4-text{
    position: absolute;
    right: 5px;
    width: 20%;
    margin-top: 150px;
    margin-right: 300px;
}

.splash5-text{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1000px; // needs width or wont center
    margin-top: 50px;
}

footer{
    text-align: center;
}

.top-text1{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 56px;
    font-weight: bolder;
}

.top-text2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
    margin-bottom: 20px;
}

.title{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    font-family: 'Roboto', sans-serif;
}

.subtext{
    margin-top: 24px;
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
    font-weight: lighter;
}

.bottom-title{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 56px;
    font-weight: bolder;
}