// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-button {
    display: none;
}


.message-box {
    width: 80%;
    bottom: 0px;
    background-color: rgb(64,68,75);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 16px;
    border-radius: 8px;
    max-height: 50vw;
    min-height: 2vw;
    border-style: none;

    &:focus {
        outline:none;
    }
}

.sticky-message{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #36393f;
}

.message-credentials {
    color: teal;
}

.message {
    color: white;
}

.delete-button {
   display:flex;
   justify-content: flex-end;
}

.message-container {
    overflow: auto;
    background-color: #36393f;
    height: 100vh;
    width: 80vw;
    
    // removes scrollbar but keeps functionality (for chrome)
    &::-webkit-scrollbar{
        display: none;
    }
}

.author-message {
    display: inline;
    font-size: 18px;
    font-weight: 500;
}

.time-message {
    display: inline;
    font-size: 12px;
    margin-left: 1%;
    color: #8e9297;
}