// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-button {
    display: none;
}


.message-box {
    width: 67vw;
    position: fixed;
    bottom: 5px;
    background-color: rgb(64,68,75);
    margin: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 16px;
    border-radius: 8px;
    min-height: 30px;
    border-style: none;
    color: white;

    &:focus {
        outline:none;
    }
}

.inner-message-box {
    background-color: rgb(64,68,75);
    line-height: 24px;
    border-radius: 8px;
    width: 100%;
    border-style: none;
    color: white;
    padding-bottom: 10px;

    &:focus {
        outline:none;
    }
}


.message-box-background{
    height: 60px;
    background-color: rgb(54,57,63);
    width: 70vw;
    position: fixed;
    bottom: 0px;
    min-height: 10px;
    border-style: none;
    color: white;
}

.empty-space{
    width: 70%;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 50vw;
    min-height: 2vw;
}

.sticky-message{
    position: sticky;
    bottom: 0;
    width: 100%;
}

.message-credentials {
    color: teal;
}

.message {
    color: white;
}

.delete-button {
   display:flex;
   justify-content: flex-end;
}

.message-container {
    overflow: auto;
    background-color: #36393f;
    height: 100vh;
    width: 70vw;
    
    // removes scrollbar but keeps functionality (for chrome)
    &::-webkit-scrollbar{
        display: none;
    }
}

.author-message {
    display: inline;
    font-size: 18px;
    font-weight: 500;
}

.time-message {
    display: inline;
    font-size: 12px;
    margin-left: 1%;
    color: #8e9297;
}