.app{
    display: flex;
}

.sidebar{
    width: 20vw; /* Set the width of the sidebar */
    /* Fixed Sidebar (stay in place on scroll) */
    /* position: fixed;  */
    left: 0;
    background-color: #2f3136;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar-content{
    position:absolute;
    bottom:0
}