.app{
    display: flex;
    background-color: #36393f;
}

.greeting{
    left:0;
    width: 15vw; /* Set the width of the sidebar */
    background-color: #2f3136;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar-content{
    position:relative;
    bottom:0;
    left:0
}

