.user-list{
    position: fixed;
    background-color: #2F3136;
    height: 100vh;
    width: 250px;
    right:0px
}

.user-list-header{
    // display: flex;
    // justify-content: center;
    padding-left: 15px;
    padding-top: 20px;
    color: #7C8B91;
}

.users{
    display: flex;
    padding: 10px;
    background: none;
    border: none;
    width: 100%;
}

.user-avatar{
    // background: white url("../../images/user_avatar.jpg");
    background:white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.usernames{
    display: flex;
    justify-content: flex-start;
    color:white;
    padding-top: 5px;
    padding-left: 10px;
}
